<footer id="footer" class="text-center text-lg-start text-white">
  <div class="container">
    <section class="">
      <div class="row pt-5">
        <div class="col-md-3 col-lg-3 col-xl-3 mt-3">
          <h6 class="text-uppercase mb-4 font-weight-bold">Grateful</h6>
        </div>

        <hr class="w-100 clearfix d-md-none" />

        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3 text-white">
          <h6 class="text-uppercase mb-4 font-weight-bold">Explore</h6>
          <p>
            <a>Sponsor a Student</a>
          </p>
          <p>
            <a>Post a request</a>
          </p>
        </div>

        <hr class="w-100 clearfix d-md-none" />

        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3 text-white">
          <h6 class="text-uppercase mb-4 font-weight-bold">Company</h6>
          <p>
            <a>About</a>
          </p>
          <p>
            <a>Career</a>
          </p>
        </div>

        <hr class="w-100 clearfix d-md-none" />

        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3 text-white">
          <h6 class="text-uppercase mb-4 font-weight-bold">Support</h6>
          <p>
            <a>Privacy Policy</a>
          </p>
          <p>
            <a>Terms of Use</a>
          </p>
        </div>
      </div>
    </section>

    <hr class="my-3" />

    <section>
      <div class="row d-flex align-items-center pb-3">
        <div class="col-md-7 col-lg-8 text-center text-md-start">
          <div>© 2020 <a>Grateful</a>, Inc. All Rights Reserved</div>
        </div>
        <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
          <a class="btn btn-outline-light m-1 rounded-circle" role="button"
            ><i class="bi bi-facebook"></i
          ></a>
          <a class="btn btn-outline-light m-1 rounded-circle" role="button"
            ><i class="bi bi-twitter"></i
          ></a>
          <a class="btn btn-outline-light m-1 rounded-circle" role="button"
            ><i class="bi bi-google"></i
          ></a>
          <a class="btn btn-outline-light m-1 rounded-circle" role="button"
            ><i class="bi bi-instagram"></i
          ></a>
        </div>
      </div>
    </section>
  </div>
</footer>
