<section>
  <div class="container">
    <div class="row mt-5">
      <div class="col-md-6 text-center">
        <h1>Welcome Back !</h1>
        <figure class="mt-4">
          <img src="assets/img/login/side-img.svg" />
        </figure>
      </div>
      <div class="col-md-6">
        <div>
          <h1>Login</h1>

          <form class="mt-5">
            <div class="mb-4 row">
              <label for="loginEmail" class="col-md-2 col-form-label"
                >Email</label
              >
              <div class="col-md-10">
                <input type="text" class="form-control" id="loginEmail" />
              </div>
            </div>
            <div class="mb-4 row">
              <label for="loginPassword" class="col-md-2 col-form-label"
                >Password</label
              >
              <div class="col-md-10">
                <input
                  type="password"
                  class="form-control"
                  id="loginPassword"
                />
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 text-end">
                <button type="submit" class="btn custom-border-primary">Login</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
